.container {
    padding: 1.2rem;
    display: block;
    width: 70%;
    margin: 2rem auto;
    background: #141a1c;
    color: whitesmoke;
    border-radius: 15px;
    -webkit-box-shadow: 0px 11px 10px 5px rgba(58, 52, 58, 0.3);
    -moz-box-shadow: 0px 11px 10px 5px rgba(64, 57, 65, 0.3);
    box-shadow: 0px 11px 10px 5px rgba(70, 63, 72, 0.3);
}

form {
    width: 90%;
    margin: 1rem auto;
}

.current-weather-container {
    height: 15rem;
    width: 90%;
    padding: 3rem 0;
    background: #20252A;
    border: whitesmoke 3px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    margin: 1.2rem auto;
}

h3 {
    margin: 0 0 1rem;
}

.description-weather-container {
    width: 40%;
}

.current-weather-icon {
    display: block;
    width: 40%;
}

.current-weather-icon img {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    width: 90%;
    border-radius: 0.2rem;
}

h2 {
    text-align: center;
    margin-top: 2.5rem;
}

.description-weather {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 1.5rem 0.7rem;
    padding: 0.7rem;
    border-radius: 0.2rem;
    background: #131618;
    -webkit-box-shadow: 0px 11px 10px 5px rgba(58, 52, 58, 0.3);
    -moz-box-shadow: 0px 11px 10px 5px rgba(64, 57, 65, 0.3);
    box-shadow: 0px 11px 10px 5px rgba(70, 63, 72, 0.3);
}

.img-fluid {
    margin: 0.2em auto;
    border-radius: 0.2rem;
}