{% extends 'base.html' %}
{% load static %}
{% block css_additional %}
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
{% endblock %}
{% block title %}{{ location|title }}{% endblock %}
{% block content %}
    <h2>Ответ приложения прогноза погоды</h2>
    <h2>День: {{ weather_forecast.current_weather.day_of_week|title }} ({{ weather_forecast.current_weather.date }})</h2>
    <h2>Локация: {{ weather_forecast.current_weather.location|title }} (корд. {{ weather_forecast.current_weather.latitude }}°, {{ weather_forecast.current_weather.longitude }}°)</h2>
    <h2>Температура: {{ weather_forecast.current_weather.temp }}</h2>
    <h2>Статус: {{ weather_forecast.current_weather.detailed_status }}</h2>
    <h2>Скорость ветра: {{ weather_forecast.current_weather.speed_wind }}</h2>
    <h2>Направление ветра: {{ weather_forecast.current_weather.direction_wind|title }}</h2>
    <h2>Влажность: {{ weather_forecast.current_weather.humidity }}%</h2>
    <h2>Атмос. давление: {{ weather_forecast.current_weather.pressure }} рт. ст.</h2>

    <div class="container">
      <div class="row row-cols-3">
          {% for day, info_about_day in weather_forecast.weather_forecast.items %}
            <div class="col">
                    <div class="card">
                        <img class="img-fluid" alt="100%x280" src="{% static info_about_day.data_icon %}">
                        <div class="card-body">
                            <h4 class="card-title">{{ info_about_day.daily_name }} ({{ info_about_day.daily_date }})</h4>
                            <p class="card-text">{{ info_about_day.detailed_status|capfirst }}</p>
                            <p class="card-text">Температура: {{ info_about_day.temp }}°C</p>
                        </div>
                    </div>
            </div>
          {% endfor %}
      </div>
    </div>

    <form action="{% url "forecast_request" %}" method="get">
        <input type="text" placeholder="Search..." name="location">
    </form>
{% endblock %}